* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #717171;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #717171;
}

.debug {
  background-color: rgba(0, 80, 33, 0.5);
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.main-wrapper {
  height: 100vh;
}

.top {
  height: calc(100% - 90px);
  overflow: hidden;
}

.black {
  background-color: black;
}

.gray {
  background-color: #141922;
}

.light-gray {
  background-color: #282828;
}

/* INIZIO HEADER */

.header {
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.btn {
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: .8rem;
}

.logo-big {
  width: 130px;
  padding-top: 20px;
  padding-bottom: 25px;
}


.logo-small {
  width: 20px;
  display: none;
}

/* INIZIO ASIDE */

.search img,
.home img,
.library img {
  width: 27px;
  vertical-align: middle;
  filter: opacity(.5);
  padding-bottom: 10px;
}

.home a:hover,
.search a:hover,
.library a:hover {
  color: white;
}

.home a:hover img,
.search a:hover img,
.library a:hover img {
  filter: opacity(1);
}


.play {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.create div:last-child {
  line-height: 40px;
  font-size: .9rem;
  padding-left: 10px;
}

.create a:hover {
  color: white;
}

.create a:hover .plus {
  background-color: white;
}

.plus {
  background-color: #717171;
  color: black;
  padding: 7px 10px;
  font-size: 1.2rem;
  font-weight: 900;
}

aside {
  width: 225px;
  min-height: 450px;
  overflow: hidden;
}

.top-aside {
  height: calc(100% - 80px);
  font-size: .8rem;
  padding-left: 20px;
}

.bottom-aside {
  height: 80px;
  padding-left: 20px;
  font-size: .8rem;
}

.playlists {
  height: calc(100% - 200px);
  overflow: hidden;
}

.list {
  height: calc(100% - 20px);
  overflow: hidden;
  padding-top: 15px;
}

.list ul {
  height: 76%;
  overflow: auto;
}

.list ul li {
  padding-bottom: 10px;
}

.list ul li a:hover {
  color: white;
}

.bar {
  width: 90%;
  border: 1px solid white;
  margin: 0 auto;
}

.bottom-aside div img {
  width: 15px;
}

.profile .fa-regular {
  padding-right: 10px;
  padding-bottom: 15px;
}

.br {
  border-bottom: 1px solid white;
}

.br a:hover {
  color: white;
}

.profile {
  padding-right: 20px;
}

.propic {
  padding-top: 15px;
}

.propic .img-profile {
  height: 20px;
  width: 20px;
  background-color: #717171;
  display: inline-block;
  border-radius: 50%;
}

.propic .img-profile img {
  padding-left: 5px;
  padding-top: 3px;
}

.propic .desktop {
  color: white;
  padding-left: 10px;
}

/* FINE ASIDE */

/* INIZIO ZONA CONTENUTI  */

.content {
  width: calc(100% - 225px);
  overflow-y: auto;
  padding-top: 90px;
  padding-left: 20px;
}

.content h3 {
  color: white;
  padding: 15px 0;
}

.content .recent h3 {
  color: white;
  padding: 20px 0;
}

.content h5 {
  padding-bottom: 30px;
}

.content .card .title {
  color: white;
  text-align: center;
  padding: 10px 0;
}

.content .card .artist {
  font-size: .7rem;
  text-align: center;
}

.navigator {
  justify-content: center;
}

.navigator ul {
  list-style-type: none;
}

.navigator ul li {
  padding: 0 5px;
  display: inline-block;
}

.card {
  width: calc(100% / 6 - 20px);
  margin-right: 20px;
  position: relative;
}

.img-song {
  position: relative;
}

.img-song:hover img {
  opacity: .3;
}

.img-song:hover i {
  display: inline-block;
}

.img-song:hover {
  cursor: pointer;
}

.card i {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 30px);
  font-size: 60px;
  color: white;
  display: none;
}

.card img {
  max-width: 200px;
  width: 100%;
}

.popular-artist .card img {
  border-radius: 50%;
}

/* FINE ZONA CONTENUTI */

/* INIZIO FOOTER  */

.current, .volume {
  width: 230px;
}

.bottom {
  height: 90px;
  justify-content: space-between;
}

.player {
  width: 40%;
}

.bottom .current img {
  width: 40px;
}

.bottom .current .d-flex {
  align-items: center;
  padding-top: 25px;
  padding-left: 10px;
}

.bottom .current .d-flex .song {
  margin-left: 10px;
  margin-right: 40px;
}

.bottom .current .d-flex .song .artist {
  font-size: .7rem;
  color: white;
}

.bottom .current .d-flex .song .song-name {
  font-size: .6rem;
}

.bottom .current .d-flex i {
  margin-right: 10px;
}

.bottom .current .d-flex i:hover {
  color: white;
  cursor: pointer;
}

.player .buttons i {
  color: white;
  font-size: 1rem;
  transition: 0.5s;
}

.player .buttons .fa-circle-play:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.player .buttons i:hover {
  cursor: pointer;
}

.player .buttons .fa-circle-play {
  font-size: 1.5rem;
}

.player .buttons {
  width: 150px;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
}

.player {
  width: 70%;
  margin: 0 auto;
  align-items: baseline;
}

.play-bar {
  width: 100%;
  background-color: #717171;
  margin: 0 20px;
  border-radius: 20px;
  height: 4px;
  position: relative;
}

.reach {
  width: 20%;
  background-color: #C1C1C1;
  height: 4px;
  border-radius: 20px;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
}

.play-bar:hover {
  cursor: pointer;
}

.play-bar:hover .ball {
  display: inline-block;
}

.play-bar:hover .reach {
  background-color: green;
}


.ball {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: none;
  flex-shrink: 0;
}

.minute {
  font-size: 10px;
}

.volume {
  align-items: center;
}

.volume i {
  margin: 0 10px;
  color: white;
  font-size: .8rem;
  cursor: pointer;
}

.volume-bar {
  width: 80px;
  background-color:#717171;
  height: 3px;
  margin-right: 10px;
}

.volume-bar:hover .ball-volume {
  display: inline-block;
}

.volume-bar:hover {
  cursor: pointer;
}

.reach-volume {
  width: 2%;
  background-color: white;
  height: 4px;
  border-radius: 20px;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
}

.ball-volume {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 500px) {
  
  aside {
    width: 40px;
  }

  .content {
    width: calc(100% - 40px);
  }

  .header {
    width: calc(100% - 40px);
  }

  .logo-big {
    display: none;
  }

  .desktop {
    display: none;
  }
  
  .logo-small {
    display: block;
  }
}


@media screen and (max-width: 1000px) {

  .card {
    width: calc(100% / 4 - 20px);
    margin-right: 20px;
  }
  
  .card img {
    max-width: 150px;
    width: 95%;
  }

}


@media screen and (max-width: 700px) {

  .card {
    width: calc(100% / 2 - 20px);
    margin-right: 20px
  }
  
  .card img {
    max-width: 150px;
    width: 95%;
  }

}