* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(0, 80, 33, 0.5);
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.main-wrapper {
  height: 100vh;
}

.top {
  height: calc(100% - 90px);
  overflow: hidden;
}

/* INIZIO HEADER */

.header {
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
}

.logo-big {
  width: 100px;
}

.logo-small {
  width: 20px;
  display: none;
}

/* INIZIO ASIDE */

aside {
  width: 225px;
  min-height: 450px;
  overflow: hidden;
}

.top-aside {
  height: calc(100% - 80px);
}

.bottom-aside {
  height: 80px;
}

.playlists {
  height: 79%;
  overflow: hidden;
}

.list {
  height: 95%;
  overflow: hidden;
}

.list ul {
  height: 76%;
  overflow: auto;
}

/* FINE ASIDE */

/* INIZIO ZONA CONTENUTI  */

.content {
  width: calc(100% - 225px);
  overflow-y: auto;
  padding-top: 90px;
}

.navigator {
  justify-content: center;
}

.navigator ul {
  list-style-type: none;
}

.navigator ul li {
  padding: 0 5px;
  display: inline-block;
}

.card {
  width: calc(100% / 6);
}

.card img {
  max-width: 150px;
  width: 90%;
}

.popular-artist .card img {
  border-radius: 50%;
}

.bottom {
  height: 90px;
  justify-content: space-between;
}

.player {
  width: 40%;
}





/* MEDIA QUERY */